@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.row {
  @apply px-8 text-left;
}

.MuiTable-root{
  border: none !important;
  outline: none !important;
}
.MuiTableCell-root{
  border: none !important;
  outline: none !important;
}

.MuiDataGrid-columnSeparator {
  display: none !important;
}

.MuiDataGrid-row {
  @apply bg-purple-50 rounded-lg my-2 !important;
}
.MuiDataGrid-row:hover{
  @apply cursor-pointer  !important;
}

.MuiDataGrid-columnHeaders {
  @apply shadow-none border-none;
}

 .MuiOutlinedInput-root {
  @apply rounded-xl;
}

.main_header_page {
  @apply font-bold text-3xl;
}



.main_header {
  @apply font-bold text-xl;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
:root,
:root.light {
  color-scheme: light;
}

:root.dark {
  color-scheme: dark;
}
html {
  color-scheme: var(color-scheme);
}
