@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.row {
  @apply px-8 text-left;
}



 .MuiOutlinedInput-root {
  @apply rounded-xl;
}

.main_header_page {
  @apply font-bold text-3xl;
}



.main_header {
  @apply font-bold text-xl;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
:root,
:root.light {
  color-scheme: light;
}

:root.dark {
  color-scheme: dark;
}
html {
  color-scheme: var(color-scheme);
}

.MuiDataGrid-root,
.MuiDataGrid-root .MuiDataGrid-columnHeader,
.MuiDataGrid-root .MuiDataGrid-cell {
  border: none !important;
  outline: none !important;
}

.MuiDataGrid-columnSeparator {
  display: none !important;
}

.MuiDataGrid-row:hover {
  @apply rounded-lg !important;
}

.MuiDataGrid-columnHeaders {
  @apply bg-slate-100 rounded-lg !important;
}

h1{
 @apply font-semibold text-xl 
}
