@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.row {
  @apply px-8 text-left;
}



 .MuiOutlinedInput-root {
  @apply rounded-xl;
}

.main-header-page {
  @apply font-semibold text-xl py-2 mb-4 tracking-widest;
}



.main_header {
  @apply font-bold text-xl;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
:root,
:root.light {
  color-scheme: light;
}

:root.dark {
  color-scheme: dark;
}
html {
  color-scheme: var(color-scheme);
}


.MuiDataGrid-root,
.MuiDataGrid-root .MuiDataGrid-columnHeader
 {
  border: 0  !important;
  outline: none !important;
}
.MuiDataGrid-columnHeader{
  @apply text-black text-opacity-40 font-bold !important;
}

.MuiDataGrid-root .MuiDataGrid-cell{
  border-bottom: 1;
  @apply border-gray-100 
}

.MuiDataGrid-columnSeparator {
  display: none !important;
}

.MuiDataGrid-row:hover {
  @apply rounded-lg !important;
}

.dataGrid-whitout-border .MuiDataGrid-columnHeaders {
  @apply bg-slate-100 rounded-lg !important;
}

h1{
 @apply font-semibold text-xl 
}
